/*Edited by: brad, note sometimes cache in Google chrome doesn't allow for CSS changes*/

/*start of general styling for all webpages */
#header {
  background-color : rgb(0, 51, 102); /* resembles the SC state flag */
  width : 100%;
  height : 15vw;
}
#body {
  background-color : white;
  width : 100%;
  height : auto;
}
#title {
  font: sans-serif; /*something is overwriting this*/
  color : white;
  text-align : center;
  font-size:7vw; /*changes based on width of webpage*/
}
html {
  background-color : gray;
  width : auto;
  height : 100%;
}
/*end of general styling*/

/*start of navigation bar styling */
.nav-bar {
  overflow: hidden;
  width : 100%;
  height : 10%;
  background-color : black;
  padding-top: 1vw;
  list-style-type: none;
}
.nav-bar a {
  display:block;
  float : left;
  width : 12vw;
  text-align : center;
  font-weight: bold;
  font-size: 2vw;
}
.nav-bar a:hover {
  color: white;
}
.nav-bar a.active {
  background-color: #4CAF50;
  color: white;
}
/*Styling for a search bar feature*/
.nav-bar input[type = text] {
  float: right;
  padding: 1vw;
  border: none;
  margin-top: 2vw;
  padding-left: 1vw;
}
/*end of navigation bar styling*/

/*Start of styling for counties table */
.cTable {
  border-collapse: collapse;
}
.cTable, th, td
{
  table-layout: auto;
  border: 1px solid black;
  width: 50vw;
  margin: auto; 
}
.cTable th {
  color: black;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
/*end of county table styling */

/*start of map page styling*/
#daMap{
  align-content: center;
  width: 600;
}

.flex-map {
  display: flex;
  flex-flow: column wrap;
}

.flex-map > div {
  margin: 2em;
}
/*end of map page styling*/

/*This piece of css helps to reformat the website based on the max width of the pixels
for mobile users*/
@media screen and (max-width: 600px)
{
  .nav-bar{
    float:none;
  }
  .nav-bar a{
    width: auto;
    float:none;
    font-size: 3vw;
  }

  .cTable,th,td
  {
    font-size:3vw;
  }

  .nav-bar input[type = text]{
padding: 0;
width: 20vw;
margin:auto;
margin-top: 0; 
  }

  #daMap{
    width: auto;
    align-self:  left;
  }
}
/*end of styling for mobile users */