{% extends '../base/base.html' %}
<meta name = "viewport" content="width= device-width, initial-scale = 1.0">
  {% load static %}
<head>
</head>

{% block body %}
  <p>This is the Counties Page</p>
 <!-- creates a table of the information -->  
<table class = "ahh">

{% for c in counties %}<!-- 
{% cycle '<tr>' '' '' '' %} -->
<tr>
	<th>County</th>
	<td> <a href="/{{c.name}}">{{c.name}}</td>
	<th> Region </th>
	<td> <a href="/{{c.region.name}}">{{c.region.name}}</td>
</tr>
<!-- {% cycle '' '' '' '</tr>' %} -->
{% endfor %}
</table>

<!-- creates a list of the information -->
<!-- <ul class = "boo" >
{% for c in counties %}
	<li> <a href= "/{{c.name}}"> {{c.name}} - {{c.region.name}} </a> </li>
{% endfor %}
</ul> 
 -->

{% endblock %}


