<!-- To use google maps api, a key would need to be "purchased" from google
This will act as a placeholder and show the direction until the issues can be resolved 

The script in this template creates a map object centered around the given coordinates (eventually SC), and listens
for an update in the coordinates in order to create a new instance of the google map at that new point

The page has a dropdown to pick a predetermined area (coordinates) determined by JSON file(s) with the name of the region 
and coordinates,an update button to call the script, and below it the map inside an iframe-->

{% extends '../base/base.html' %}
<meta name = "viewport" content="width= device-width, initial-scale = 1.0">
{% load static %}
<head>
</head>

{% block body %}


<script type="text/javascript">

	var map;
	function initMap(){
		map = new google.map.Map(document.getElementById('flex-map'), {
			center: {lat: -34.397, lng: 150.644}, zoom: 8
		});
	}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIrp9See4o2N7lr-TcPY_M8dlineBlI3A&callback=initMap" async defer></script>

 <p><em>This is the Map Page</em></p>

<div class = "flex-map" >
	
</div>

<select id = "datDrop">

<option disabled selected value> -- Choose a county -- </option>
<option value ="test"> test </option>
<option value ="test1"> test1</option>
<option value ="test2"> test2</option>


</select>


<input type = "button" value="updateMap" onClick="pan()"/>
</div>


<div id =:daMap">
</div>

</div>
</select>

{% endblock %}