<!-- To use google maps api, a key would need to be "purchased" from google
This will act as a placeholder and show the direction until the issues can be resolved 

The script in this template creates a map object centered around the given coordinates (eventually SC), and listens
for an update in the coordinates in order to create a new instance of the google map at that new point

The page has a dropdown to pick a predetermined area (coordinates) determined by JSON file(s) with the name of the region 
and coordinates,an update button to call the script, and below it the map inside an iframe-->

{% extends '../base/base.html' %}
<meta name = "viewport" content="width= device-width, initial-scale = 1.0">
{% load static %}

{% block body %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIrp9See4o2N7lr-TcPY_M8dlineBlI3A&callback=initialize"></script>
<script type="text/javascript">

	var map;
	function initialize(){
		 center = (-34.397, 150.644)
	}

	google.maps.event.addDomListener(window, 'load', initialize());
	function pan() {
		var panPoint = new google.maps.LatLng(document.getElementById("p.lat").value, document.getElementById("p.lon").value); //probably not the best way to get the lat and long values but no way currently to test it
		map.panTo(panPoint)
	}
</script>

 <p><em>This is the Map Page</em></p>

<div class = "flex-map" >
	<div class = "datDrop">

	{% for p in pinpoints %}
	<button class = "dropbutt">Locations
		<i class = "fa fa-caret-down"></i>
	</button>
	<div class = "dropdown-content">
	<a href = "/{{p.name}}">{{p.name}}</a> 
</div>

{% endfor %}

<input type = "button" value="updateMap" onClick="pan()"/>
</div>

<div id =:daMap">
</div>

</div>

{% endblock %}
