<!-- Test file for try and catching errors and an if statement of a static map instead -->

{% extends '../base/base.html' %}
<meta name = "viewport" content="width= device-width, initial-scale = 1.0">
{% load static %}

{% block body %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIrp9See4o2N7lr-TcPY_M8dlineBlI3A&callback=initialize"></script>
<script type="text/javascript">
	var map
try{
	function initialize(){
		 center = (-34.397, 150.644);
	}
}
catch(err){
	console.error(err);
}
if(err != null){
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402794.0197565155!2d-83.17022580720435!3d33.60423974813984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f8a5697931d1e3%3A0xb9ffa132f505179e!2sSouth+Carolina!5e0!3m2!1sen!2sus!4v1554684994969!5m2!1sen!2sus">
}
	google.maps.event.addDomListener(window, 'load', initialize());
	function pan() {
		var e = document.getElementById("datDrop");
		var choice1 = e.option[e.selectedIndex].lat;
		var choice2 = e.option[e.selectedIndex].lon;
		var panPoint = new google.maps.LatLng(choice1,choice2); 
		//the names are temp
		map.panTo(panPoint)
	}
</script>

 <p><em>This is the Map Page</em></p>

<div class = "flex-map" >
	
</div>

<select id = "datDrop">
{% for p in pinpoint %}
<option>{{p.name}}</option>

{% endfor %}
</select>

<input type = "button" value="updateMap" onClick="pan()"/>
</div>

<div id =:daMap">
</div>

</div>

{% endblock %}
